@page "/migration"
@code{
    WgWebsite.Data.Migration.MigrationFromV1 mig;
    string userjson = "";
    string tasksjson = "";
    string karmaentriesjson = "";
    string productsjson = "";
    string drinkentriesjson = "";
    protected override void OnInitialized()
    {
        base.OnInitialized();
        mig = new WgWebsite.Data.Migration.MigrationFromV1();
    }
}
<AuthorizeView>
    <Authorized>
        @if (context.User.Claims.Any(c => WgWebsite.Model.Roles.Admin == c.Value))
        {
            <div class="card">
                <h5 class="card-header">Migrate Users</h5>
                <div class="card-body">
                    <div><textarea class="w-100" placeholder="users" @bind="userjson"></textarea></div>
                    <button class="btn btn-primary w-100" @onclick=@(e => mig.MigrateUsers(userjson))>Send Users</button>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Migrate Karma Tasks</h5>
                <div class="card-body">
                    <div><textarea class="w-100" placeholder="tasks" @bind="tasksjson"></textarea></div>
                    <button class="btn btn-primary w-100" @onclick=@(e => mig.MigrateTasks(tasksjson))>Send Tasks</button>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Migrate Karma Entries</h5>
                <div class="card-body">
                    <div><textarea class="w-100" placeholder="karma entries" @bind="karmaentriesjson"></textarea></div>
                    <button class="btn btn-primary w-100" @onclick=@(e => mig.MigrateTaskEntries(karmaentriesjson, userjson, tasksjson))>Send Entries</button>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Migrate Products</h5>
                <div class="card-body">
                    <div><textarea class="w-100" placeholder="products" @bind="productsjson"></textarea></div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Migrate Drink Entries</h5>
                <div class="card-body">
                    <div><textarea class="w-100" placeholder="drink entries" @bind="drinkentriesjson"></textarea></div>
                    <button class="btn btn-primary w-100" @onclick=@(e => mig.MigrateDrinkEntries(drinkentriesjson, userjson, productsjson))>Send Drink Entries</button>
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>