<!--Big Thanks to: https://blazorhelpwebsite.com/ViewBlogPost/36-->

@page "/LoginControl"
@using System.Web

@code { string Username = "";
            string Password = "";
            private string encode(string param)
            {
                return HttpUtility.UrlEncode(param);
            } }

<AuthorizeView>

    <!--Authorized>
        <b>Hello, context.User.Identity.Name!</b>

        <a class="ml-md-auto btn btn-primary"
           href="/logout?returnUrl=/"
           target="_top">Logout</a>
    </!--Authorized-->

    <NotAuthorized>
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <input type="text" placeholder="User Name" @bind="@Username" style="width:100%;" />
            </li>
            <li class="nav-item px-3">
                <input type="password" placeholder="Password" @bind="@Password" style="width:100%;" />
            </li>
            <li class="nav-item px-3">
                <a class="nav-link"
                   href="/login?paramUsername=@encode(@Username)&paramPassword=@encode(@Password)"
                   target="_top">
                    <span class="oi oi-account-login"></span>
                    Login
                </a>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>
