@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4" style="padding-top: 0px;">
        <div id="scroll-container">@Body</div>
    </div>
</div>
