@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div style="
            font-weight: 200;
            font-family: system-ui;
            text-align: center;
            width: 100%;
            font-size: 35px;">R.I.C.H.</div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
