@using System.Web
@inject Data.Translator trans
@inject Data.DataBaseService db

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@trans.WordFor("NavbarTitle")</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<AuthorizeView>
    <Authorized>
        @{
            var thisuser = db.GetUserById(long.Parse(context.User.Claims.FirstOrDefault(c => c.Type == "UserId").Value));
            trans.SetLanguage(thisuser.Language);
        }
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <!--<li class="nav-item px-3">
        <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Counter
        </NavLink>
    </li>-->
                @if (context.User.Claims.Any(c => c.Value == Model.Roles.Karma))
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="karma">
                            <span class="oi oi-list-rich" aria-hidden="true"></span>Karma
                        </NavLink>
                    </li>
                }
                @if (context.User.Claims.Any(c => c.Value == Model.Roles.Drinks))
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="drinks">
                            <div style="width:32px;"><img style="width: 20px;" src="@Model.Themes.Icon("glass-w")" /></div>@trans.WordFor("Drinks")
                        </NavLink>
                    </li>
                }
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/logout?returnUrl=/">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
            </ul>
        </div>
    </Authorized>
    <NotAuthorized>
        <LoginControl />
    </NotAuthorized>
</AuthorizeView>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
